body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	background: #eee url(content-background.jpg);	
}
#content {
	padding: 10px;
	font: 11pt/1.4em "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
}
#content p {
	padding: 0;
	margin: 0 0 1em 0;
}
a {
	color: #333;
}
.lens-legend {
	list-style-type: none;
	line-height: 25px;
	margin: 0 0 1.5em 0;
	padding: 0;
}
.lens-legend li {
	clear: both;
	padding: 0;
	margin: 0 0 0.25em 0;
}
.lens-legend img {
	float: left;
	padding-right: 2px;
	vertical-align: middle;
}
.lens-legend strong {
	padding-right: 4px;
	font-weight: bold;
	color: #000;
}

.nav {	   
	padding: 0;	   
	margin: 1em 0 1.5em 0; 
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 9px;	
}

.nav li {	
	list-style-type: none;	
	border-top: 1px solid #ccc;
	padding: 10px;
	position: relative;
}

.nav li:first-child {
	border-top:0; 
}

.nav a  {
	display: block;
	margin: -8px;
	padding: 8px 38px 10px 8px;
	background-image: url(../../common/action-arrow@2x.png); 
	background-repeat: no-repeat;
	background-position: right; 
	background-size: 19px 19px;
	line-height: 1.2em;
	text-decoration: none;
	border-radius: 5px;	
	color: #171717;
	font-weight: bold;
}

.nav li div.smallprint {
	padding-top: 2px;
	font-size: 90%;
	color: #555;
	font-weight: normal;
}

a.action {
	margin-right: 0;
}

a.arrow {  
	background-image: url(../../common/action-arrow@2x.png); 
}

a.phone {  
	background-image: url(../../common/action-phone@2x.png); 
}

a.email {  
	background-image: url(../../common/action-email@2x.png); 
}

a.map {  
	background-image: url(../../common/action-map@2x.png); 
}

a.search {  
	background-image: url(../../common/action-search@2x.png); 
}

a.people {  
	background-image: url(../../common/action-people@2x.png); 
}

a.external {  
	background-image: url(../../common/action-external@2x.png); 
}

a.noaction {
	background-image: none;
	padding-right: 7px;
}

