<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Font</key>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>default</key>
				<true/>
				<key>id</key>
				<string>STHeitiSC-Medium</string>
				<key>title</key>
				<string>黑體（中）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>STHeitiSC-Light</string>
				<key>title</key>
				<string>黑體（細）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>HiraMinProN-W3</string>
				<key>title</key>
				<string>明體（細）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>HiraMinProN-W6</string>
				<key>title</key>
				<string>明體（中）</string>
			</dict>
		</array>
		<key>title</key>
		<string>字型</string>
	</dict>
	<key>FontSize</key>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>Tiny</string>
				<key>title</key>
				<string>超小</string>
			</dict>
			<dict>
				<key>id</key>
				<string>Small</string>
				<key>title</key>
				<string>小</string>
			</dict>
			<dict>
				<key>default</key>
				<true/>
				<key>id</key>
				<string>Regular</string>
				<key>title</key>
				<string>標準</string>
			</dict>
			<dict>
				<key>id</key>
				<string>Large</string>
				<key>title</key>
				<string>大</string>
			</dict>
			<dict>
				<key>id</key>
				<string>Huge</string>
				<key>title</key>
				<string>超大</string>
			</dict>
		</array>
		<key>title</key>
		<string>字體大小</string>
	</dict>
	<key>PrimaryModules</key>
	<dict>
		<key>title</key>
		<string>主要模組</string>
	</dict>
	<key>SecondaryModules</key>
	<dict>
		<key>title</key>
		<string>次要模組</string>
	</dict>
	<key>ResetApp</key>
	<dict>
		<key>title</key>
		<string>重置</string>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>reset</string>
				<key>title</key>
				<string>重置所有設定</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
